# PHPStorm
.idea

# OSX
.DS_Store

# Composer
/composer.lock
/vendor/
/bin/
/logs/

# CGL Fixer
.php_cs.cache

# PHPUnit
Build/.phpunit.result.cache

# TYPO3
/Build/Web
/file_variants

# Other stuff
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
composer.phar

