#t3js-fileinfo {
    position: relative;
}
.t3-sysfile-wrapper {
    display: inline-block;
    padding-bottom: 20px;
}

.t3-sysfile-default {
    position: absolute;
    top: 0;
    right: 0;
    background: #ccc;
    border: 1px solid #999;
    padding: 5px;
}
.t3-sysfile-default span {
    display: block;
    font-weight: 600;
}

.variants-preview p.t3-sysfile-translation {
    padding: 5px;
    display: inline-block;
    box-shadow: 0 3px 10px #ccc;
    margin-bottom: 20px;
}

.variants-preview p.t3-sysfile-translation span {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


